

.inicio{
    height: calc(100vh - 146px);
    margin-top: 128px;
}
.eventos-inicio{
    width: 100%;
    height: 100%;
}
.proximos-eventos{
    height: 100px;
}
.proximos-eventos-btn{
    background-color: var(--color-primario);
    color: white;
}
.carrusel-btn{
    height: 100%;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.460);
    z-index: 100;
    border: none;
    color: rgba(255, 255, 255, 0.460);
    font-size: 30px;
}
.carrusel-btn-active{
    background-color: rgba(0, 0, 0, 0.775);
    color: rgba(255, 255, 255, 0.775);
}

.img-evento{
    width: 700px;
    height: 70%;
    position: relative;

}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.div-content{
    height: 85%;
}

@media screen and (max-width: 600px) {
    
    .div-content{
        height: 80%;
        gap: 50px;
    }
    .eventos-inicio{
        height: 80%;
        width: 100%;
        align-items: center;
    }

    .img-evento{
        height: 60%;
    
    }
}

@media screen and (max-width: 600px) {
    .proximos-eventos-btn{
        background-color: var(--color-primario);
        color: white;
        transform: translateY(-90px);
    }
}